/* Styling for the navbar. */

/* SASS Variables */
$nav-font-color: #FFFFFF;
$nav-font-family: 'Source Sans Pro', sans-serif;
$logo-font-family: 'Bungee', sans-serif;

/* SASS Mixins */
@mixin nav-vertical-alignment($direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

/* Style that applies to the navbar as a whole. */
nav {
  @include nav-vertical-alignment($direction: row);
  justify-content: space-between;
  height: 120px;
  background-color: transparent;
  color: $nav-font-color;
  position:absolute;
  width: 100%;
  position: fixed;
  top: 0;
}

/* Styling for the two divs in the navbar. One contains the logo (left side), the other contains the "Write a new tweet" text (right side). */
nav > span {
  @include nav-vertical-alignment();
  font-family: $logo-font-family;
  color: $nav-font-color;
  padding: 1.5em;
}

/* Extra styling for the "Write a new tweet" box. */
nav > span > p {
  margin: 0;
  font-family: $nav-font-family;
}
.fa-angles-down {
  color: red;
}