/* Styling for the 'scroll to top' button. */

main > button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width:60px;
  height:60px;
  color: white;
  background-color: red;
  border-width: 0px;
  display: none;
}

main > button:hover {
  color: gold;
}