/* Styling for the header, which will contain the user's avatar and the name. */
body > header {
  height: 520px;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

body > header h2 {
  margin: 0;
  color: white;
  font-weight: 300;
}

body > header strong {
  font-weight: 600;
}

body > header img {
  padding-top: 5px;
}