/* Styling for the tweet form. */
#new-tweet {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  display: none;
  margin-top: 70px;
}

#new-tweet form {
  display: flex;
  flex-direction: column;
  border-top: 0px;
  border-right: 0px;
  border-right: 0px;
  margin-top: 30px;
}

#new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 80px;
  font-family: 'Bungee', sans-serif;
}

#new-tweet form div button {
  background-color: #4056A1;
  color: #FFFFFF;
}

#new-tweet form textarea {
  height: 50px;
  resize: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 3px;
}