.tweet-container {
  border: solid;
  border-width: 3px;
  padding: 20px;
  margin-bottom: 20px;
}

.tweet-container:hover {
  box-shadow: 5px 5px rgb(193, 197, 231);  
}

.tweet-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-container header div {
  display: flex;
  flex-direction: row;
}

.tweet-container header div h3 {
  font-weight: 300;
  font-size: 20px;
}

.tweet-container header h3 {
  font-weight: 600;
  font-size: 20px;
}

.tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-container header h3 {
  margin: 0px;
}

.tweet-container footer p {
  margin: 0px;
}

.tweet-container footer {
  border: solid;
  padding-top: 10px;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-size: 15px;
  font-weight: 600;
}

.tweet {
  border: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.icons {
  color: midnightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 60px;
}

.fa-solid:hover {
  color: gold;
}

