/* Styling for tweets. */
/* SASS Mixins */
#tweet-container {
  /* Global style for the section that contains the tweets. */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
  /* Style that applies to individual tweets. */
  /* Shadow applied to the tweet box. */
  /* Padding for the tweet box. */
}
#tweet-container article {
  width: 100%;
  border: solid;
  border-width: 3px;
  padding: 20px;
  margin-bottom: 20px;
  /* Style that applies to the avatar, username & user handle at the top of the tweet. */
  /* Style that applies to the time posted (left side) and the flag, retweet & like icons (right side), below the text of the tweet. */
}
#tweet-container article header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#tweet-container article header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#tweet-container article header div h3 {
  margin-left: 10px;
  font-weight: 300;
  font-size: 20px;
}
#tweet-container article header h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}
#tweet-container article footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid;
  padding-top: 10px;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-size: 15px;
  font-weight: 600;
}
#tweet-container article footer p {
  margin: 0px;
}
#tweet-container article:hover {
  box-shadow: 5px 5px #c1c5e7;
}
#tweet-container p {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

/* Style that applies to the flag, retweet & like icons. */
.icons {
  color: #4056A1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 60px;
}

.fa-solid:hover {
  color: gold;
}
