/* Styling for tweets. */
#tweet-container {
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tweet-container article {
  width: 100%;
  border: solid;
  border-width: 3px;
  padding: 20px;
  margin-bottom: 20px;
}

#tweet-container article:hover {
  box-shadow: 5px 5px rgb(193, 197, 231);  
}

#tweet-container article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#tweet-container article header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tweet-container article header div h3 {
  margin-left: 10px;
  font-weight: 300;
  font-size: 20px;
}

#tweet-container article header h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
}

#tweet-container article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid;
  padding-top: 10px;
  border-top-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  font-size: 15px;
  font-weight: 600;
}

#tweet-container article footer p {
  margin: 0px;
}

#tweet-container article p {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.icons {
  color: midnightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 60px;
}

.fa-solid:hover {
  color: gold;
}